name: Run Playwright Tests with Secret Password

on:
  schedule:
   # - cron: '58 15 * * 6'  # Run every Saturday 
    - cron: '58 15 * * 0'    # Run every Sunday
  workflow_dispatch:  # Manually trigger the workflow for testing

 # push:
  #  branches:
  #    - master  # Trigger the workflow on push to the master branch
jobs:
  test:
    runs-on: ubuntu-latest  # Use an Ubuntu runner for your CI

    steps:
      # Step 1: Checkout the code from the repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Step 2: Set up Node.js (e.g., version 16)
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

       # Step 2.1: Set the timezone to your local timezone (GMT+1)
      - name: Set timezone to GMT+1
        run: |
         sudo timedatectl set-timezone Europe/Brussels
      
       # Step 3: Install project dependencies (make sure you have package.json with dependencies listed)
      - name: Install dependencies
        run: npm install

      # Step 4: Set the secret 'password' as an environment variable
      - name: Set up password secret as environment variable
        run: |
          echo "EMAIL=${{ secrets.EMAIL}}" >> $GITHUB_ENV     
          echo "PASS=${{secrets.PASS}}" >> $GITHUB_ENV
          echo "PADEL_USERID=${{ secrets.PADEL_USERID}}" >> $GITHUB_ENV

      # Step 5: Run conditional Playwright tests based on the day of the week
      - name: Run Playwright tests based on the day
        run: |          
          DAY_OF_WEEK=$(date +%u)
          
          if [ "$DAY_OF_WEEK" -eq 6 ]; then
            
            echo "Running Test 1 (Saturday)"
            npx playwright test spondTue.spec.ts

          elif [ "$DAY_OF_WEEK" -eq 7 ]; then
            
            echo "Running Test 2 (Sunday)"
            npx playwright test spondWed.spec.ts
          else
           
            echo "Today is neither Saturday nor Sunday. Skipping tests."
          fi